* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 15px;
}

.container {
  margin: 0 auto;
  padding: 10px 30px;
  max-width: 1200px;
}

img {
  display: block;
  max-width: 100%;
  min-height: 100px;
  text-align: center;
}

h1 {
  text-align: center;
}